@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

body{
height: 210vw;
width: 100vw;
background: linear-gradient(119.36deg, #8F00FF 0%, #FFFFFF 100%);
}
.container2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 
    0,5fr 
    2fr 
    1fr;
    grid-template-areas: 
    "h h "
    "l l "
    "c j ";
}
.logocentro{
    display: flex;
    justify-content: center;
    margin-top: 190px;
}
.bara_superior{
    display: flex;
    grid-area: h;
    height: 110px;
    background: linear-gradient(261.79deg, #FFFFFF 6.36%, #7000FF 47.78%, #FFFFFF 93.75%);
    mix-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 9px rgba(0, 0, 0, 0.25);
    justify-content: right;
    gap: 40px;
    
}
.bara_de_pesquisa{
    display: none;
}
.acc>img{
    position: flex;
width: 100vw;
height: 40vw;
margin: 0;
}
.retangulo7{
    display: flex;
    grid-area: c;
    width: 95vw;
    height: 25vw;
    background: #FAFF00;
    border-radius: 68px;
    margin-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.add_fill{
    position: flex;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bara_superior>img{
    display: flex;
    width: 30vw;
    height: 30vw;
    margin-right: 35vw;
}
.bot-sub{
    display: none;}
/* logsing-in */
.inputtexto{
    background: #FFFFFF;
    border-radius: 26px;
    width: 80vw;
    height: 15vw;
    margin-top: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logsin-in{
    display: flex;
    justify-content: center;
    height: 90vw;
}
.botaoentrar{
    display: flex  ;
    justify-content: center;
    color: aliceblue;
    background-color: #903efa   ;
    height: 20vw;

}
.sislogsingin{
     font-weight: bold;
     margin-top: 12vw;
}
.bot-sub:hover{
    background-color: #903efa;
}
fieldset{
    border-color: #7000FF;
    border-radius: 3vw;
}
/* uploader pdt */
.pgproduto{
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "T"
    "D"
    "P";
    justify-content: center;
    justify-items: center;
}
.pgprodutologo>img{
    margin-top: 1vw;
    width: 25vw;
    height: 30vw;
    margin-left: 23vw;
}
.pg{
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-weight: bold;
    align-items: center;
}
.pgprodutotexto{
    display: grid;
    flex-direction: column;
    grid-area: "T";
}
.avatarpc{
    margin-right: 36vw;
    margin-top: 5vw;
    
}
.pgptitulo{
    position: absolute;
width: 95vw;
height: 15vw;
left: 2vw;
top: 6vw;

background: #FAFF00;
box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
border-radius: 35px;
}
.iuploadimg{
    display: flex;
    width: 70vw;
    height: 40vw;
    background: #FAFF00;
    border-radius: 68px;
    margin-top: 20px;
    justify-items: center;
    align-items: center;
    box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    flex-direction: column;
}
.add_fill2>img{
    display: flex;
    width: 23vw;
    height: 20vw;
    text-align: center;
    margin-top: 10vw;
}
.ccdesc{
    width: 90vw;
    height: 120vw;
    background: #FAFF00;
    box-shadow: 0px 4px 4px 5px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
}
.pgpdescricao{
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    grid-area: "D";
}
.bot-save{
    margin-top: 2vw;
    background-color: #FFFFFF;
    border-radius: 26px;
    border: none;
    font-weight: bold;
    width: 30vw;
    height: 10vw;
    border: 1vw solid;
    border-color: #5e2ba0;
    margin-left: 20vw;
}
.bot-save:hover{
    background-color: #903efa;
    color: white;
}
.sidecl{
    grid-area: "P";
    flex-direction: column;
    gap: 3vw;
    justify-items: center;
}
.idesc{
    justify-self: center;
    display: flex;
}

.botaobrabo{
    background-color: #8F00FF;
}

input[type=submit]{
    height: auto;
}